
@{
    ViewBag.Title = "Explore";
}

<h2>Explore</h2>
<div class="jumbotron text-center">
    <h1>Exploring Bootstrap</h1>
    <h2>Get responsive pages</h2>
</div>
<div class="jumbotron text-capitalize">
    <h2>Onam Ashamsagal!!</h2>
</div>
<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="navbar-link active" href="">Active</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="">Secondary</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="">Tertiary</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="">Disable</a>
        </li>
    </ul>
</div>
<hr/>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="navbar-link active" href="">Primary</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="">Secondary</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="">Tertiary</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Breakfast</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
                Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <button type="button" class="btn-primary">Pimary</button>
            <button type="button" class="btn-danger">Danger</button>
            <button type="button" class="btn-info">Information</button>
            <button type="button" class="btn-lg">Large</button>
            <button type="button" class="btn-group-sm">Small</button>
        </div>
            <div class="col-sm-4">
                <h3>Lunch</h3>
                <p>
                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                
            </div>
            <div class="col-sm-4">
                <h3>Dinner</h3>
                <p>
                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>
       
     </div>
</div>
<div>
    <label class="btn btn-lg active">
        <input type="checkbox" checked autocomplete="off" />Checked
    </label>
    <label class="btn btn-primary active">
        <input type="checkbox" checked autocomplete="off" />Checked
    </label>
</div>
<div class="btn-group">
    <input type="radio" name="Choice" autocomplete="off" checked />Graduate
    <input type="radio" name="Choice" autocomplete="off" checked />Post Graduate
    <input type="radio" name="Choice" autocomplete="off" checked />Doctrate
</div>
<div class="btn-group">
    <label class="btn btn-group-lg">
        <input type="radio" name="Choice" autocomplete="off" checked />Graduate
    </label>
    <label class="btn btn-success">
    <input type="radio" name="Choice" autocomplete="off" checked />Post Graduate
    </label>
    <label class="btn btn-success">
    <input type="radio" name="Choice" autocomplete="off" checked />Doctrate
    </label>
</div>
<div class="text-center">
    <img src="~/flower2.jpg" class="img-rounded" alt="Rounded" />
</div>
<div class="text-center">
    <img src="~/flower2.jpg" class="img-fluid" alt="Image" />
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width:10%" aria-valuenow="10" aria-valuemax="100" aria-valuemin="0"></div>
</div>  
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:20%" aria-valuenow="20" aria-valuemax="100" aria-valuemin="0"></div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width:30%" aria-valuenow="40" aria-valuemax="100" aria-valuemin="0"></div>
 </div>
<div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:50%" aria-valuenow="10" aria-valuemax="100" aria-valuemin="0"></div>
</div>
<div>
    <table class="container">
        <thread>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>MobileNumber</th>
            </tr>
        </thread>
        <tr>
            <th>Hema</th>
            <th>Elango</th>
            <th>82333562</th>          
        </tr>
        <tr>
            <th>Priya</th>
            <th>Baskaran</th>
            <th>85641231122</th>           
        </tr>
    </table>
</div>


